* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
   height: 1000px;
}

.header {
    height: 46px;
    width: 100%;
    background-color: #000;
    position: sticky;
    top: 0;
}

.nav {
    display: inline-block;
}

.nav .subnav {
    display: none;
    position: absolute;
    top: 46px;
    background-color: white;
}

.nav li {
    display: inline-block;
    position: relative;
}

.nav>li>a {
    display: block;
    text-transform: uppercase;
    padding: 0px 24px;
    line-height: 46px;
    font-weight: bold;
}

.nav li a {
    text-decoration: none;
    color: white;
    display: inline-block;

}

.nav .subnav li:hover a,
.nav>li:hover>a {
    background-color: #CCCCCC;
    color: #000;
}

.nav li:hover #icon-dropdown{
    color: black;
}

.subnav li {
    width: 100%;
    min-width: 160px;
}

.subnav li a {
    padding: 8px 16px;
    width: 100%;
    color: #000;
}

.subnav li:hover a{
    color: white;
}

.nav li:hover .subnav{
    display: block;
    color: white;
    box-shadow: 1px 1px 1px 1px gray;
}

.header .search-btn{
    float: right;
    
}

.header .search-btn .search-icon{
    display: inline-block;
    color: white;
    line-height: 46px;
    font-size: 125%;
    padding: 0px 24px;
}

.header .search-btn:hover .search-icon{
    background-color: #f44336;
    
}


.slider {

}

.content {}

.footer {}