* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
   height: 1000px;
}

.header {
    height: 46px;
    width: 100%;
    background-color: #000;
    position: sticky;
    top: 0;
}

.nav {
    display: inline-block;
}

.nav .subnav {
    display: none;
    position: absolute;
    top: 46px;
    background-color: white;
}

.nav li {
    display: inline-block;
    position: relative;
}

.nav>li>a {
    display: block;
    text-transform: uppercase;
    padding: 0px 24px;
    line-height: 46px;
    font-weight: bold;
}

.nav li a {
    text-decoration: none;
    color: white;
    display: inline-block;

}

.nav .subnav li:hover a,
.nav>li:hover>a {
    background-color: #CCCCCC;
    color: #000;
}

.nav li:hover #icon-dropdown{
    color: black;
}

.subnav li {
    width: 100%;
    min-width: 160px;
}

.subnav li a {
    padding: 8px 16px;
    width: 100%;
    color: #000;
}

.subnav li:hover a{
    color: white;
}

.nav li:hover .subnav{
    display: block;
    color: white;
    box-shadow: 1px 1px 1px 1px gray;
}

.header .search-btn{
    float: right;
    
}

.header .search-btn .search-icon{
    display: inline-block;
    color: white;
    line-height: 46px;
    font-size: 125%;
    padding: 0px 24px;
}

.header .search-btn:hover .search-icon{
    background-color: #f44336;
    
}

/* Slider */
.slider {
    padding-top: 50%;
    background: url('/assets/img/slider.jpg') top center / cover no-repeat;
    z-index: -1;
}

.slider .text-content{
    color: white;
    bottom: 48px;
    text-align: center;
    padding-bottom: 5vh;
}

.slider .text-heading{
    margin-bottom: 32px;
    font-weight: 500;
    
}

.clear{
    clear: both;
}

/* Section content */
.content {
    padding: 64px 16px;
    width: auto;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.content .content-section{
    text-align: center;
    width: 100%;
    
}

.content .section-heading{
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content .section-sub-heading{
    font-style: italic;
    color: #666;
    margin: 15px 0px;
}
.content .about-text{
    text-align: justify;
    margin: 15px 0px;
    width: 100%;
    line-height: 1.4;
    font-size: 15px;
    
}

/* Team content */
.team{
    padding: 32px 0px;
    text-align: center;
}
.card{
    width: 33.33333%;
    float: left;
    
}
.name{

}
.card .image img{
    border-radius: 4px;
    margin: 0px 0px 16px;
}


.clear{
    clear: both;
}

.footer {}